*{
    box-sizing: border-box ;
}
body {
    background-image: url(snow.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdowncontainer{
    display: flex;
    flex-wrap: wrap;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}
span{
    font-weight: bold;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 2rem;
}